In [1]:
1 == '1'

False

In [3]:
(1 ==2 ) and (1==1)

False

In [4]:
(1 ==2 ) or(1==1)

True

In [5]:
(1 ==2 ) and not (1==1)

False

In [15]:
if (1==2):
    print('Hello')
elif 2==2:
    print('Hello elif')
else:
    print('not true')

Hello elif

In [18]:
seq = [1, 2 ,3 , 4, 5]
for item in seq: 
    print(item**2)

1
4
9
16
25

In [21]:
i = 1 
while i < 6:
    print('i is currently {}'.format(i))
    i = i+1

i is currently 1
i is currently 2
i is currently 3
i is currently 4
i is currently 5

In [23]:
for item in range(0, 5):
    print(item)

0
1
2
3
4

In [24]:
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [27]:
x = [1,2,3,4]
out = []
for num in x:
    out.append(num**2)
out

[1, 4, 9, 16]

In [28]:
[num**2 for num in x]

[1, 4, 9, 16]

In [32]:
def my_func(param = 'default') :
    """
    Doc is here!
    """
    print('hello '+ param)
    return 
    
my_func()

hello default

In [36]:
def times_two(var):
    return var*2
result = times_two(2)
result

4

In [37]:
lambda var: var*2

In [39]:
seq = [1, 2, 3, 4, 5]
list(map(lambda var: var*2, seq))

[2, 4, 6, 8, 10]

In [42]:
def is_even(num):
    return num%2 == 0
list(filter(is_even, seq))

[2, 4]

In [43]:
list(filter(lambda var: var%2 ==0, seq))

[2, 4]

In [45]:
st = 'My name is Jimmy'
st.lower()

'my name is jimmy'

In [46]:
st = 'My name is Jimmy'
st.upper()

'MY NAME IS JIMMY'

In [49]:
st.split(' ')

['My', 'name', 'is', 'Jimmy']

In [51]:
d = { 'key': 'val', 'key2': 'val1' }
d.keys()

dict_keys(['key', 'key2'])

In [52]:
d = { 'key': 'val', 'key2': 'val1' }
d.items()

dict_items([('key', 'val'), ('key2', 'val1')])

In [54]:
my_list = [1,2,3,4]
my_list.pop()

4

In [55]:
my_list = [1,2,3,4]
my_list.pop(2)

3

In [56]:
5  in my_list

False

In [57]:
2 in my_list

True